*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("pink-watercolor-background.jpg");    
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 50px;
}
/* first part */
.item{
    display: flex;
    /* grid-template-columns: auto auto auto;   */
    padding-top: 100px;  
    
    width: 100vw;
    justify-content: center;
    
    
    
    
    
}


.menu button{
    background-color: 	#ffd700;
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;    
    padding: 10px 60px;      
    border: none;
    text-align: center;
    font-size: 22px;
    /* opacity: 90%; */
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bolder; 
    
    
    
}

/* third part */

.details{
    display:flex; 
    padding-bottom: 30px;
    width: 100vw;
    justify-content: center;
    text-align: center;
    
    
    
    
}
.itemsdetail{
    background-color: white;
    margin: 10px;
    width: 250px;
    height: 210px;
    border: 2px solid white;
    text-align: center;
   
    
}

.itemsdetail .icon{
    
    font-size: 50px;
 }

.itemsdetail h4{
    font-weight: bolder;
    font-size: 18px;
    line-height: 25px;
}
.itemsdetail p{
    padding-top: 20px;
    font-size: 15px;
    color: gray;
    font-weight: bolder;
   
}
